<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Watd video client</title>

    <!-- Client -side dependencies -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="libs/jquery.min.js"></script>
    <script src="libs/bootstrap.min.js"></script>
    <script src="libs/handlebar.min.js"></script>
    <script src="libs/peer.min.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
    <div id="wrapper">

      <!-- Display the video of the remote peer -->
      <div id="peer-camera"  align="center" class="embed-responsive embed-responsive-16by9">
        <video width="700" height="600" autoplay></video>
      </div>

      <div id="messenger-wrapper">
        <div class="container">
          <h1></h1>

          <!--
            Display the login form and messaging form.
            This allows the user to send messages to their peer and make a video call.
          -->
          <div id="connect">
            <h4>ID: <span id="id"></span></h4>
            <input type="text" name="peer_id" id="peer_id" placeholder=" Enter Peer ID">
            <div id="connected_peer_container" class="hidden">
              Connected Peer:
              <span id="connected_peer"></span>
            </div>
            <button id="login">Call</button>
          </div>

          <!--<div id="chat" class="hidden">
            <div id="messages-container">
              <ul id="messages"></ul>
            </div>
            <div id="message-container">
              <input type="text" name="message" id="message" placeholder="Type message..">
              <button id="send-message">Send Message</button>
              <button id="call">Call</button>
            </div>
          </div>-->
        </div>
      </div>

      <!-- Display video of the current user -->
      <div id="my-camera" class="camera">
        <video width="200" height="200" autoplay  muted="muted"></video>
      </div>
    </div>

    <!-- Handlebars template for constructing the list of messages -->
    <script id="messages-template" type="text/x-handlebars-template">
      {{#each messages}}
      <li>
        <span class="from">{{from}}:</span> {{text}}
      </li>
      {{/each}}
    </script>
  </body>
</html>
